.alert.alert-info
    %button.close{"data-dismiss" => "alert", type: "button"} ×
    %strong Info
    %p The quantity of the items is not considered in the calculation of sales tax as they have no impact.
    %p Items can be dynamically added.
    %p Check the imported checkbox to apply import duty on that item.
    %p Items containing the words book, chocolate, pills are exempt from sales tax to add more words directly edit the model.

